<div class="layout-column vert-offset-top-1">
  <div class="layout layout-align-center">
    <h1>Users</h1>
  </div>

  <div class="flex">
    {{#paper-list}}
      {{#each model as |user|}}
        {{#paper-item as |controls|}}
          <div>{{user.email}}</div>

          <span class="flex"></span>

          {{#controls.button iconButton=true onClick=(action "goToUser" user)}}
            {{paper-icon "mode_edit"}}
          {{/controls.button}}
        {{/paper-item}}
      {{/each}}
    {{/paper-list}}
  </div>
</div>
