default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: mpugach_backend_development

test:
  <<: *default
  database: mpugach_backend_test

production:
  <<: *default
  database: mpugach_backend_production
  username: mpugach_backend
  password: <%= ENV['MPUGACH_BACKEND_DATABASE_PASSWORD'] %>
