<div class="layout-row layout-align-center vert-offset-top-3">
  <div class="flex-xs-90 flex-sm-55 flex-md-40 flex-30">
    <div class="layout layout-align-center">
      <h1>Create user</h1>
    </div>

    {{user-form user=model onSubmit=(action "saveUser") submitLabel="Create"}}
  </div>
</div>
