<div class="layout-row layout-align-center">
  <h1>Edit user</h1>
</div>

<div class="layout-row layout-align-center">
  <div class="flex-xs-90 flex-sm-55 flex-md-40 flex-30">
    {{user-form user=model onSubmit=(action "saveUser") submitLabel="Save"}}
  </div>
</div>
