<div class="layout-row layout-align-center">
  <h1>Edit trip</h1>
</div>

<div class="layout-row layout-align-center">
  <div class="flex-xs-90 flex-sm-75 flex-md-70 flex-60">
    {{trip-form trip=model onSubmit=(action "saveModel") submitLabel="Save"}}
  </div>
</div>

