<div class="layout-column layout-align-center height-70">
  <div class="layout-row layout-align-center">
    <h1>Profile</h1>
  </div>

  <div class="layout-row layout-align-center">
    <div class="flex-xs-90 flex-sm-55 flex-md-40 flex-30">
      {{#paper-form onSubmit=(action "saveModel") as |form|}}
        <div class="layout-column">
          {{form.input label="Email" value=model.email onChange=(action (mut model.email)) required=true type="email"}}

          {{#form.submit-button raised=true primary=true}}Update{{/form.submit-button}}
        </div>

        <div class="layout-column vert-offset-top-1">
          {{link-to "Change password" "password" class="md-button md-primary md-raised"}}
        </div>

        <div class="layout-column vert-offset-top-1">
          {{#paper-button raised=true warn=true onClick=(action "destroyObject" model)}}
            Delete account
          {{/paper-button}}
        </div>
      {{/paper-form}}
    </div>
  </div>
</div>

{{#destroy-confirmation
  visible=showDeleteConfirmation
  onCancel=(action "closeDeleteConfirmation" "cancel")
  onConfirm=(action "closeDeleteConfirmation" "yes")
}}
  <p>The action is irreversible.</p>
  <p>Are you sure you want to delete your account?</p>
{{/destroy-confirmation}}
