<div class="layout-column layout-align-center height-70">
  <div class="layout-row layout-align-center">
    <h1>Profile</h1>
  </div>

  <div class="layout-row layout-align-center">
    <div class="flex-xs-90 flex-sm-55 flex-md-40 flex-30">
      {{#paper-form onSubmit=(action "saveModel") as |form|}}
        <div class="layout-column">
          {{form.input label="Email" value=model.email onChange=(action (mut model.email)) required=true type="email"}}

          {{#form.submit-button raised=true primary=true}}Update{{/form.submit-button}}
        </div>
      {{/paper-form}}
    </div>
  </div>
</div>
