{{#paper-toolbar}}
  {{#paper-toolbar-tools class="layout-row layout-align-space-between-center"}}
    {{#link-to "index"}}
      {{paper-icon "home" size=36}}
    {{/link-to}}

    {{#if currentUser.data.canManageUsers}}
      {{#link-to "users.index"}}
        {{paper-icon "people" size=36}}
      {{/link-to}}
    {{/if}}

    {{#if session.isAuthenticated}}
      {{#paper-button iconButton=true onClick=(action "invalidateSession")}}
        {{paper-icon "exit_to_app" size=28}}
      {{/paper-button}}
    {{/if}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div class="layout-column vert-offset-top-1 vert-offset-bottom-4">
  {{outlet}}
</div>
