{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>
      {{link-to "TravelPlanner" "index"}}
    </h2>


    {{#if currentUser.data.canManageUsers}}
      <span class="flex-5"></span>

      {{#link-to "users.index"}}
        {{paper-icon "people" size=36}}
      {{/link-to}}
    {{/if}}

    <span class="flex"></span>

    {{#if session.isAuthenticated}}
      {{#paper-button iconButton=true onClick=(action "invalidateSession")}}
        {{paper-icon "exit_to_app"}}
      {{/paper-button}}
    {{/if}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{outlet}}
